# Task: T-test, normal vs evacuation

In [1]:
import pandas as pd

In [4]:
v_fitted_10_19_path = 'Group 2 US101SB/v_fitted_10-19.csv'
v_fitted_10_26_path = 'Group 2 US101SB/v_fitted_10-26.csv'

In [5]:
v_fitted_10_19 = pd.read_csv(v_fitted_10_19_path)
v_fitted_10_26 = pd.read_csv(v_fitted_10_26_path)

In [7]:
v_fitted = pd.concat([v_fitted_10_19, v_fitted_10_26], ignore_index=True)
v_fitted.sample(5)

       date  greenshields      drake    five_pl         s3
3626  10-26     67.596207  68.995135  63.262918  68.923761
295   10-19     71.122287  71.428866  68.429675  71.091283
245   10-19     71.174622  71.432540  68.431880  71.148531
1562  10-19     67.977435  70.016360  68.294420  67.774030
5278  10-26     36.549856  28.486429  26.680932  26.513806

In [18]:
from scipy.stats import ttest_ind
model_list = ['greenshields', 'drake', 'five_pl', 's3']
for model in model_list:
    v_fitted_model = v_fitted[['date', model]]
    # Perform the t-test, if there is a significant difference between the dates.
    v_fitted_model_normal = v_fitted_model[v_fitted_model['date'] == '10-19'][model]
    v_fitted_model_evacuation = v_fitted_model[v_fitted_model['date'] == '10-26'][model]
    # Perform the t-test
    t_stat, p_val = ttest_ind(v_fitted_model_normal, v_fitted_model_evacuation, equal_var=False)
    print(f'The p-value for the t-test of the {model} model is {p_val:2e}.')

The p-value for the t-test of the greenshields model is 5.576174e-182.
The p-value for the t-test of the drake model is 7.280806e-160.
The p-value for the t-test of the five_pl model is 0.000000e+00.
The p-value for the t-test of the s3 model is 7.736046e-149.